header {
    background-color: blanchedalmond;
    background-position: center;
    width: 100%;
    height: 4cm;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#logo-header{
    width: 15%;
    height: 120%;
}
body{
    background-color: cornflowerblue;
}
a{
    font-size: 30px;
    font-family: 'Playfair', serif;
    padding-top: 45px;
    color: rgb(28, 3, 117);
}
.fotos-review{
   width: 25%;
   border-radius: 20%;
}
.fotos-review{
    margin-right: 15px;
}
.review-card{
    display: flex; /* Display the image and text side by side */
    align-items: center;
    background-color: white;
    border-radius: 20%;
}
h2{
    background-color: chocolate;
    border: solid 2px;
}
ul{
    font-family: 'Playfair', serif;
    font-size: 125%;
}
@media (max-width:414px){
    header {
        height: 2cm;
        width: 100%;
    }
    a{
        padding-top: 0%;
        font-size: 15px;
        text-align: center;
        margin-top: 25px;
    }
    .fotos-review{
        margin-right: 1px;
    }
    ul{
        font-size: 5px;
        padding-left: 0px;
    }
    li{
        padding-left: 0px;
    }
    body{
        background-image: url(./img/fundo-what-we-sale.jpg);
        background-position: center;
    }
    }
    @media (max-width:390px){
        header {
            height: 2cm;
            width: 100%;
        }
        a{
            padding-top: 0%;
            font-size: 15px;
            text-align: center;
            margin-top: 25px;
        }
        .fotos-review{
            margin-right: 1px;
        }
        ul{
            font-size: 5px;
            padding-left: 0px;
        }
        li{
            padding-left: 0px;
        }
        body{
            background-image: url(./img/fundo-what-we-sale.jpg);
            background-position: center;
        }
        }
        @media(max-height:844px){
            header {
                height: 2cm;
                width: 100%;
            }
            a{
                padding-top: 0%;
                font-size: 15px;
                text-align: center;
                margin-top: 25px;
            }
            .fotos-review{
                margin-right: 1px;
            }
            ul{
                font-size: 5px;
                padding-left: 0px;
            }
            li{
                padding-left: 0px;
            }
            body{
                background-image: url(./img/fundo-what-we-sale.jpg);
                background-position: center;
            }
        }

